body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
}

.image-wrapper img {
    max-width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    border: 3px solid #ddd;
}